@{
    this.SetPageTitle("拒绝访问");
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px">
        <h2>
            <i class="fa fa-lock text-danger" aria-hidden="true"></i> 拒绝访问
        </h2>
        <p>
            您无权查看此页面。
        </p>
    </div>
</div>